<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/public/images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@500&family=Nabla&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#DB0000"/>
    <title>Restaurant Apps</title>
</head>
<body>
    <a href="#mainContent" class="toContent">Menuju ke konten</a>
    <header class="header">
        <div class="header-logo">
            <a href="/" class="header-title">
                Find MyResto
            </a>
        </div>
        <button id="menu" class="header-toggle" aria-label="navigation-menu">☰</button>

    <nav id="drawer" class="navbar">
        <ul class="navbar-card">
            <li class="navbar-item"><a href="/">Home</a></li>
            <li class="navbar-item"><a href="#/favorite">Favorite</a></li>
            <li class="navbar-item"><a href="https://github.com/adityaimamz" target="_blank">About Us</a></li>
        </ul>
    </nav>
  </header>
  <jumbotron-hero></jumbotron-hero>
    <main id="main" tabindex="0">
        <section class="ContentRes" id="mainContent"></section>
    </main>
    <fav-footer></fav-footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
